# Dependencies
node_modules

# Build output
dist
dev-dist
assets/logo.png

# IDE
.idea/
*.iml
.vscode/*
!.vscode/extensions.json

# OS
.DS_Store
Thumbs.db

# Env & secrets
.env
.env.*
*.local
*.jks
*.keystore
key.properties

# Logs
*.log
npm-debug.log*
